@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 40% 97%;
    --foreground: 152 32% 16%;

    --muted: 140 30% 94%;
    --muted-foreground: 150 22% 34%;

    --popover: 140 40% 97%;
    --popover-foreground: 152 32% 16%;

    --border: 138 24% 85%;
    --input: 138 24% 85%;

    --card: 140 40% 98%;
    --card-foreground: 152 32% 16%;

    --primary: 149 45% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 143 38% 90%;
    --secondary-foreground: 149 45% 28%;

    --accent: 148 50% 88%;
    --accent-foreground: 152 32% 18%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 147 40% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 149 44% 10%;
    --foreground: 144 45% 92%;

    --muted: 152 32% 16%;
    --muted-foreground: 144 35% 78%;

    --accent: 151 34% 20%;
    --accent-foreground: 144 45% 92%;

    --popover: 149 44% 10%;
    --popover-foreground: 144 45% 92%;

    --border: 151 24% 26%;
    --input: 151 24% 26%;

    --card: 149 44% 12%;
    --card-foreground: 144 45% 92%;

    --primary: 144 52% 65%;
    --primary-foreground: 149 44% 10%;

    --secondary: 152 30% 22%;
    --secondary-foreground: 144 45% 92%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 144 40% 45%;

    --radius: 0.5rem;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e3e3e3;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #253d4e4d;
    border-radius: 50px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Khi hover vào vùng chứa, dừng animation */
.mx-auto.max-w-7xl.group:hover .animate-scroll {
  animation-play-state: paused;
}

.video-scroll-mask {
  -webkit-mask-image: linear-gradient(90deg, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(90deg, transparent, black 10%, black 90%, transparent);
}

.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
